body {
  background-color: #aaa1c8;
  color: #f5e6e8;
}
div {
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 24px;
}
h2 {
  font-size: 36px;
  text-align: center;
}
p {
  font-size: 24px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}

#about-me {
  background-color: #192a51;
}

#my-favorite-game {
  background-color: #192a51;
}

#my-message {
  background-color: #192a51;
}

#my-city,
#my-fav-book,
#my-projects {
  border: purple double 10px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.images img {
  height: 300px;
  width: 200px;
  border-radius: 20px;
}
.game-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-img img {
  border-radius: 20px;
}

.bookcover {
  width: 200px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
